%p
<a href="http://www.theyworkforyou.com/mps/?f=csv">MPs list from MySociety</a>

%p credits with links to sources

%p info about calling Flickr

%p contact details

%p <a href="http://robertbrook.github.com/RAMP/">GitHub page</a> and <a href="http://github.com/robertbrook/RAMP">commits</a>

%p disclaimer