%p RAMP is a public application to help you recognise Members of the UK Parliament. This site is not a service provided by the UK Parliament. Information on this site is sourced from public services.

%p <strong>Members of Parliament</strong> on this site are taken from a <a href="http://www.theyworkforyou.com/mps/?f=csv">MPs list in comma separated values, from MySociety</a>.

%p <strong>Photos</strong> on this site are generated from a Yahoo Query Language over the Flickr site.

%p If you have any further questions about this site, please contact <strong>mail@robertbrook.com</strong>.

%p You can <strong>follow, fork and download</strong> the <a href="http://robertbrook.github.com/RAMP/">source code on GitHub</a>. The code is written in Ruby, using the Sinatra framework.
