- if @guess == @answer
  %h2 Correct!
- else
  %h2 Sorry!
  %p
    You chose #{@chosen.name}

%p
  It was #{@mp_json['name']}

%p
  =partial(:vcard, :layout => false, :collection => [@mp_json] )

%p <a href='/'>Ok, show me another</a>