- if @guess == @answer
  %h2 Correct!
- else
  %h2 Sorry!
  %p
    You chose #{@chosen.name}

%p
  It was #{@mp_json['name']}

%p
  =haml(:_vcard, :layout => false)

%p <a href='/'>Ok, show me another</a>