!!! 5
%html
  %head
    %title Recognise An MP?
    %link{:type => "text/css", :rel => "stylesheet", :href => "/stylesheets/styles.css"}
    %script{:type => "text/javascript", :src => "script/ramp.js"}
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  %body
    %header
      #score
        #{session[:attempts]} photos, #{session[:passes]} passes, #{session[:correct]} correct
      %nav <abbr title="Recognise An MP?"><strong>RAMP</strong></abbr> helps you Recognise An MP. <a href="about">More about this site</a>.
    %content
      = yield
    %footer
      