%html
  %head
    %title Recognise An MP
    %link{:type => "text/css", :rel => "stylesheet", :href => "/stylesheets/styles.css"}
    %meta{:charset => "UTF-8"}
    %meta{:name => "viewport", :content => "width=device-width"}
  %body
    .container
      %p <a href="/">Recognise An MP</a>
      - unless @is_admin
        #score #{pluralize(session[:attempts], "photo", "photos")}, #{pluralize(session[:passes], "pass", "passes")}, #{session[:correct]} correct
      = yield
      - if request.path_info != "/about"
        About RAMP. <a href="about">Sources. Contact. Code.</a>   
           