!!!
%html
  %head
    %title= "Recognise An MP"
    %style
      body{width:500px;margin:1em auto;font-family:verdana,sans-serif;}
  %body
    %p
      Nav bar here
    = yield
    %p
      <a href="http://www.theyworkforyou.com/mps/?f=csv">MPs list from MySociety</a>