!!! 5
%html
  %head
    %title RAMP
    %style
  %body
    %header
      %nav <strong>Recognise An MP?</strong> <a href="about">About RAMP</a>
    %content
      = yield
    %footer
      <a href="http://www.theyworkforyou.com/mps/?f=csv">MPs list from MySociety</a>