!!! 5
%html
  %head
    %title Recognise An MP?
    %style body{margin:2em 1em;font-family:verdana,sans-serif;}a{text-decoration:none;}
  %body
    %header
      %nav <a href="about">About</a> &middot; Recognise An MP?
    %content
      = yield
    %footer
      