!!! 5
%html
  %head
    %title Recognise An MP?
    %style body{margin:1em;font-family:"Helvetica Neue",Helvetica,verdana,sans-serif;}a{text-decoration:none;}h1{font-weight:normal;}content{line-height:140%;}.buttons{width: 100%;clear:both;float:left;}.guess{border:1pt solid grey;padding:1em;margin:1em;width:20em;float:left;}#answer1{display:none}#answer4{display:none}#answer5{display:none}
    %script{type => "text/javascript"}
      function show_answer(num){answer=document.getElementById("answer" + num);answer.style.display="block";}
  %body
    %header
      %nav <a href="about">About RAMP</a>
    %content
      = yield
    %footer
      