!!! 5
%html
  %head
    %title Recognise An MP?
    %style body{margin:1em;font-family:"Helvetica Neue",Helvetica,verdana,sans-serif;}a{text-decoration:none;}h1{font-weight:normal;}content{line-height:140%;}.guess{border:1pt solid grey;padding:1em;margin:1em;}
  %body
    %header
      %nav <a href="about">About RAMP</a>
      %h1 Recognise An MP?
    %content
      = yield
    %footer
      