!!! 5
%html
  %head
    %title Recognise An MP?
    %link{:type => "text/css", :rel => "stylesheet", :href => "/stylesheets/styles.css"}
  %body
    %h1 Recognise An MP?
    %p #{session[:attempts]} photos, #{session[:passes]} passes, #{session[:correct]} correct
    - if request.path_info != "/about"
      <a href="about">More about this site</a>.
    = yield
    
      