%html
  %head
    %title Recognise An MP
    %link{:type => "text/css", :rel => "stylesheet", :href => "/stylesheets/styles.css"}
    %meta{:charset => "UTF-8"}
    %meta{:name => "viewport", :content => "width=device-width"}
  %body
    #header #{pluralize(session[:attempts], "photo", "photos")}, #{pluralize(session[:passes], "pass", "passes")}, #{session[:correct]} correct
    #section= yield
    #footer <a href="/">Recognise An MP</a>
    - if request.path_info != "/about"
      <a href="about">Sources. Contact. Code.</a>
           