body
  margin: 0
  font-family: Helvetica, sans-serif
  width: 500px
  margin: 1em auto
  font-size: 120%
  line-height: 140%  
  
a
  text-decoration: none
 
a img
  border: none
 
.flagged
  float: right
  
input[type='submit']
  font-size: 1.1em
