body
  width: 500px
  margin: 2em auto
  font-family: sans-serif
  
a
  text-decoration: none
 
img a
  border: none

h1
  font-weight: normal

.vcard
  display: block
  border: 1px solid grey
  float: left
  width: 350px
  padding: 1.5em
  margin: 1.5em 0
  clear: both
  
  .vcard_name
    float: left
    clear: both
    font-size: 1.2em
    margin-bottom: 0.6em
  
  .vcard_constituency
    float: left
    clear: both
  
  .vcard_text
    float: left
    clear: left
    
    p
      float: left
      clear: left
      font-size: 0.95em

    .vcard_party
      float: left
      clear: both
  
  .vcard_photo
    float: right
    
#notfound
  p
    margin: 0
    float: left
    
  .vcard p
    margin: 1em 0