body
  margin: 0
  font-family: sans-serif
  text-align: center
  
.container
  width: 500px
  margin: 2em auto
  text-align: left
  
a
  text-decoration: none
 
a img
  border: none

h1
  font-weight: normal

p
  margin: 1em 0
  
content
  display: block
  line-height: 140%
  padding-top: 1em
  float: left
  
header
  width: 100%
  padding-bottom: 1em
  margin-bottom: 1em
  border-bottom: 1pt solid gray

.buttons
  margin: 0.5em 0
  .guess
    margin: 0.5em 0
    input
      font-size: 1em
      
.left
  float: left

figure
  display: block
  padding-bottom: 1em
  clear: both
  
  .mp_image
    display: block
    clear: both
    width: 100%
  
figcaption
  display: block
  clear: both
  
.flagged
  clear: both

.vcard
  display: block
  border: 1px solid grey
  float: left
  width: 350px
  padding: 1.5em
  margin: 1.5em 0
  clear: both
  
  .vcard_name
    float: left
    clear: both
    font-size: 1.2em
    margin-bottom: 0.6em
  
  .vcard_constituency
    float: left
    clear: both
  
  .vcard_text
    float: left
    clear: left
    
    p
      float: left
      clear: left
      font-size: 0.95em

    .vcard_party
      float: left
      clear: both
  
  .vcard_photo
    float: right

#footer
  float: left
  clear: both

#notfound
  p
    margin: 0
    float: left
    
  .vcard p
    margin: 1em 0